.PokemonSearchBox input {
  margin-top: 20px;
  margin-bottom: 20px;
  outline: none;
  padding: 10px;
  font-family: "pokemon-font", monospace;
  text-align: center;
}
@media (max-width: 768px) {
  .PokemonSearchBox input {
    width: 100%;
  }
}
